.container {
  font-family: 'Luckiest Guy';
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .topWrapper {
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-around;

    .progressBar {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4vh;
      // padding: 2vh 10vh;
      padding: 20px;
    }

    .score {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 4vh;
      // padding: 2vh 10vh;
      padding: 20px;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }
}

.containerFalse {
  animation: falseAnimation 0.4s;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .topWrapper {
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-around;

    .progressBar {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4vh;
      padding: 20px;
    }

    .score {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 4vh;
      // padding: 2vh 10vh;
      padding: 20px;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }

}

.containerCorrect {
  animation: correctAnimation 0.4s;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .topWrapper {
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-around;

    .progressBar {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4vh;
      // padding: 2vh 10vh;
      padding: 20px;
    }

    .score {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 4vh;
      // padding: 2vh 10vh;
      padding: 20px;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .questions {
      max-width: 100vw;
    }
  }

  .containerCorrect {
    .questions {
      max-width: 100vw;
    }
  }

  .containerFalse {
    .questions {
      max-width: 100vw;
    }
  }
}


@keyframes falseAnimation {
  0%		{ background-color: lightskyblue;}
  100%	{ background-color: #ef0a1a;}
}

@keyframes correctAnimation {
  0%		{ background-color: lightskyblue;}
  100%	{ background-color: #008000;}
}
