.container {
  font-family: 'Luckiest Guy';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .page-enter {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
