.container {
  font-family: 'Luckiest Guy';
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .progress {
      font-size: 4vh;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .score {
      font-size: 4vh;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
      margin: 0 auto;
      text-align: center;
    }

    .choiceWrapper {
      margin: auto 0;
      text-align: center;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 7%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }
}

.containerFalse {
  animation: falseAnimation 0.4s;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .topWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .progress {
      font-size: 4vh;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .score {
      font-size: 4vh;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
      margin: 0 auto;
      text-align: center;
    }

    .choiceWrapper {
      margin: auto 0;
      text-align: center;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 7%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }

}

.containerCorrect {
  animation: correctAnimation 0.4s;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .topWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .progress {
      font-size: 4vh;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .score {
      font-size: 4vh;
    }
  }

  .questions {
    width: 100vw;
    max-width: 45vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  
    .questionTitle {
      font-size: 4vh;
      padding-bottom: 25px;
      max-width: 100vw;
      margin: 0 auto;
      text-align: center;
    }

    .choiceWrapper {
      margin: auto 0;
      text-align: center;
    }

    .choiceContainer {
      font-size: 4vh;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 10px 0;
      max-width: 95vw;

      .choicePrefix {
        margin-right: 15px;
        margin-left: 5px;
        background: white;
        border: 3px solid black;
        border-radius: 50%;
        width: 7%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }

      }
      .choiceText {
        display: flex;
        background: white;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 1px;
        transform: none;
        box-shadow: none;
        color: black;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
          color: lightskyblue;
          cursor: pointer;
        }
      }
    }

    .tempLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
    }
  }

}

@media screen and (max-width: 480px) {
  .container {
    .questions {
      max-width: 100vw;
      .questionTitle {
        max-width: 90vw
      }
    .choicePrefix {
      flex: 1;
    }
    .choiceText {
      flex: 8;
    }
    }
  }

  .containerCorrect {
    .questions {
      max-width: 100vw;
      .questionTitle {
        max-width: 90vw
      }
      .choicePrefix {
        flex: 1;
      }
      .choiceText {
        flex: 8;
      }
    }
  }

  .containerFalse {
    .questions {
      max-width: 100vw;
      .questionTitle {
        max-width: 90vw
      }
      .choicePrefix {
        flex: 1;
      }
      .choiceText {
        flex: 8;
      }
    }
  }
}


@keyframes falseAnimation {
  0%		{ background-color: lightskyblue;}
  100%	{ background-color: #ef0a1a;}
}

@keyframes correctAnimation {
  0%		{ background-color: lightskyblue;}
  100%	{ background-color: #008000;}
}
