.progressBar {
  position: relative;
  height: 20px;
  border: 2px solid white;
  width: 100%;
}

.filler {
  background: #008000;
  height: 100%;
  transition: width .2s ease-in;
}

@media screen and (max-width: 480px) {
  .progressBar {
    width: 178px;  
  }
}